:root { 
--black_900_7f:#0000007f; 
--black_900_4c:#0000004c; 
--blue_gray_100:#d8d8d8; 
--black_900:#000000; 
--blue_gray_100_7f:#d8d8d87f; 
--black_900_19:#00000019; 
--black_900_0c:#0000000c; 
--white_A700:#ffffff; 
--gray_300:#dedede; 
--amber_A400:#ffc600; 
}